<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.caipsgcms">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CAIPSGCMS">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".AboutUs" />
        <activity android:name=".timercheck" />
        <activity
            android:name=".ShowImage"
            android:parentActivityName=".AdminChat"
            />
        <activity
            android:name=".AdminChat"
            android:persistableMode="persistAcrossReboots"
            android:persistent="true"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_ADMINCHAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminHome">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_ADMINHOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".UserDetails" />
        <activity
            android:name=".HomeActivity"
            android:persistableMode="persistAcrossReboots"
            android:persistent="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".Login" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.caipsgcms.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.caipsgcms.HomeActivity" />
    </application>

</manifest>